<div>
<h5 style="padding-top: 3ch;">Information & contact</h5>
<br>
<p>Artist Finder©  is an application that helps you find events & songs from your favourite artists.
    Our app makes use of different API's to give our users the best possible experience.<br>
If, however problems arise using this site, 
don't hesitate to contact us by sending a mail to <b>artistfinder@info.com</b>.</p>

<b>This application was made by students from Syntra Limburg.</b>
<br>
<br>
<br>
<h4 style="text-align: center;">Thank you for using this website!</h4>
</div>
