<div class="container-fluid text-white pt-1 mt-1 text-center">
    <h3 style="padding-top: 3ch">Information & contact</h3>
    <br>
    <p>Event Finder© is an application that helps you find events from your favourite artists.
        <br> Our app makes use of the BandsInTown API to give our users the best possible experience.<br> If, however problems arise using this site, don't hesitate to contact us by sending a mail to <b style="text-decoration:underline;">eventfinder@info.com</b>.</p>

    <b>This application was made by students from <a href="https://www.syntra-limburg.be/">Syntra Limburg.</a></b>
    <br>
    <br>
    <br>
    <h2 style="text-align: center;  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;">Thank you for using this website!</h2>
</div>