.col-sm-5 {
    background-color: rgba(0, 0, 0, 0.651);
    height: 70vh;
    overflow: auto;
}

.col-sm-6 {
    background-color: rgba(0, 0, 0, 0.925);
    /* width: 100%; */
    height: 85vh;
}

.fas,
.fab {
    color: orange;
}

.display-2 {
    font-family: 'Roboto Slab', serif;
}

body {
    background-color: black;
}

p {
    font-family: 'Open Sans', sans-serif;
}