<div class="row text-white overflow-auto" *ngIf="(detail$ | async) as detail">
    <div class="col-sm-5 mt-3 ml-3">
        <div class="h3 text-center mt-3 text-center">{{detail[0].strArtist}}</div>
        <div class="row p-3">
            <img class="rounded-circle mx-auto d-block" [attr.src]="detail[0].strArtistThumb"
                height="200px" width="200px" alt="artist">
            </div>
            <div class="display inline-block m-2 text-center">
                <a [attr.href]="detail[0].strTwitter" target="_blank"><i class="fab fa-twitter fa-lg" ></i></a>
                <a [attr.href]="detail[0].strFacebook" target="_blank"><i class="fab fa-facebook ml-3 mr-3 fa-lg"></i></a>
                <a [attr.href]="detail[0].strWebsite" target="_blank"><i class="fas fa-globe fa-lg"></i></a>
                <a [attr.href]="detail[0].strLastFMChart" target="_blank"><i class="fab fa-lastfm-square fa-lg ml-3"></i></a>     
            </div>
    <div class="row text-center p-5">
        <div class="table text-white">
            <tbody >
                <tr>
                  <td>{{intFormedYear}}</td>
                  <td>{{strGenre}}</td>
                </tr>
                <tr>
                  <td>{{detail[0].intFormedYear}}</td>
                  <td>Thornton</td>
                  
                </tr>
                <tr>
                    <td>@mdo</td>
                    <td>@fat</td>
                </tr>
              </tbody>
        </div>
    </div> 
    <!-- <p>{{detail[0].strBiographyEN}}.</p> -->
    </div>
    <div class="col-sm-6 mt-3 ml-3">
        <app-concert></app-concert>
    </div>
</div>