<div class="row text-white">
    <div class="col-sm-5 mt-3 ml-3">
        <div class="h3 text-center mt-3 text-center">{{strArtist}}BANDNAME</div>
        <img class="rounded mx-auto d-block mt-3"
            src="https://www.theaudiodb.com/images/media/artist/thumb/uxrqxy1347913147.jpg" height="200px" width="200px"
            alt="coldplay">
        <div class="display inline-block text-center m-2">
            <i class="fab fa-twitter" href="">{{strTwitter}}</i>
            <i class="fab fa-facebook ml-3 mr-3" href="">{{strFacebook}}</i>
            <i class="fas fa-globe" href="">{{strWebsite}}</i>
        </div>
        
    </div>
    <div class="col-sm-6 mt-3 ml-3">
        <p class="mt-3">test</p>
    </div>
</div>