<div class="row text-white overflow-auto">
    <div class="col-sm-5 mt-3 ml-3">
        <div class="h3 text-center mt-3 text-center">{{strArtist}}BANDNAME</div>
        
            <img class="rounded mx-auto d-block mt-3" src="https://www.theaudiodb.com/images/media/artist/thumb/uxrqxy1347913147.jpg"
                height="200px" width="200px" alt="coldplay">
            <div class="display inline-block m-2 text-center">
                <i class="fab fa-twitter fa-lg" href="">{{strTwitter}}</i>
                <i class="fab fa-facebook ml-3 mr-3 fa-lg" href="">{{strFacebook}}</i>
                <i class="fas fa-globe fa-lg" href="">{{strWebsite}}</i>
                <i class="fab fa-lastfm-square fa-lg ml-3"></i>
            </div>
    
    <div class="row text-center">
        <div class="table table-borderless text-white">
            <tbody>
                <tr>
                  <td>Mark</td>
                  <td>Otto</td>
                </tr>
                <tr>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  
                </tr>
                <tr>
                    <td>@mdo</td>
                    <td>@fat</td>
                </tr>
              </tbody>

        </div>
    </div> 
    <p>test</p>
    </div>
    <div class="col-sm-6 mt-3 ml-3">
        <p class="mt-3 concerts">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolore, deleniti? Hic odit perspiciatis sed libero cumque modi error ut impedit, maxime voluptates corrupti quam deserunt culpa expedita consequuntur fuga optio.
        Possimus fugit, nisi hic a placeat velit temporibus tenetur dolorem repellat saepe, magni quaerat veritatis omnis. Inventore ipsa ab officiis blanditiis sed quia, animi dolores eveniet rerum nostrum harum excepturi.
        Vitae culpa magni, nulla maxime error incidunt nostrum laboriosam accusantium ullam blanditiis! Vel id, aperiam voluptatibus, consequatur fugiat, cumque quo sapiente incidunt eaque a dolores. Reiciendis dolorum reprehenderit totam facilis.
        Obcaecati quam debitis tempore quasi eaque culpa suscipit, dolorem expedita laboriosam praesentium voluptates laborum repellendus corrupti ullam temporibus quis vitae dolore molestias ab magni animi ut dicta! Excepturi, dolor perspiciatis?
        Dolores laboriosam omnis provident asperiores consectetur illo quas vitae libero nesciunt fuga rem laborum veritatis nam sit nemo, laudantium inventore deleniti quia assumenda. Omnis eum aliquam ipsum, est nisi id.
        Quaerat expedita mollitia consequatur quas harum dolores, ex assumenda ipsa iste eaque aliquid rerum. Suscipit recusandae, quaerat fuga inventore aperiam maiores repudiandae quae commodi dolorem quam expedita officia enim. Placeat!
        Debitis ipsa velit cum eius. Dolore eveniet at praesentium, beatae maiores sunt quidem cumque quae sed aperiam eos consequatur vero ullam commodi, quas quaerat ducimus. Sapiente molestiae facilis at iusto!
        Libero quos cupiditate dolore ab qui ipsum nostrum, omnis dolor ipsa eveniet exercitationem nulla sapiente? Quis earum a ut reprehenderit! Ipsa accusamus fuga exercitationem libero dignissimos quos voluptates aliquam voluptate!
        Aliquid reiciendis minus voluptatem totam architecto ex, necessitatibus velit rem doloremque sapiente officia quam quisquam sint! Aliquam ipsam eum id impedit doloribus excepturi autem ratione soluta nobis modi. Sapiente, eum.
        Praesentium iure eius nobis sint voluptatibus assumenda sit error laboriosam commodi, tenetur, voluptatum, veritatis dolores nesciunt veniam obcaecati qui blanditiis incidunt fugit! Nobis fuga, porro ad minus dolorum quidem dignissimos.
        Dolorem consequuntur ratione incidunt neque asperiores laborum fugit inventore vero. Dolorem sit exercitationem distinctio tempora! Impedit fuga similique eos. Nesciunt rerum tempore cum animi dicta praesentium cupiditate odit pariatur dolore.
        Quos corrupti vero hic repellendus ratione vel asperiores nesciunt illo consequuntur, minima nam necessitatibus accusamus molestiae recusandae aliquid enim ex maiores esse? Aliquid quia aut commodi quod non facilis reprehenderit.
        Doloremque, deleniti quasi. Molestiae exercitationem expedita accusamus excepturi natus deleniti, fugit necessitatibus facere sunt voluptas culpa vel labore doloribus beatae hic fuga dicta delectus, perspiciatis quisquam nulla quam esse dolorum.
        Temporibus delectus at fuga dignissimos porro quo! Iure voluptates est numquam rem, officia labore blanditiis, nisi quos minima magnam excepturi, expedita explicabo ut vero officiis nemo deserunt qui. Quia, a!
        Consectetur rem saepe, ut at enim eius excepturi delectus nam hic voluptas aliquam placeat debitis quia doloremque quasi explicabo vitae odio sapiente amet doloribus, quas cum. Adipisci hic pariatur repellat.
        Omnis maiores, ipsa ex placeat ullam totam eveniet possimus fugit nostrum rem et consequuntur doloribus numquam? Dicta aperiam, placeat consequuntur beatae quas quisquam, quasi obcaecati ullam consequatur eligendi eveniet hic.
        Consequuntur id, nemo assumenda dolor ex ullam quaerat quod possimus? Tempora beatae dolore quisquam. Voluptatem sunt error, animi recusandae ea officia autem, quis, eaque corporis impedit non. Voluptate, ut consectetur?
        Quaerat, omnis nobis odio vero facilis, quibusdam tempora debitis ad nesciunt molestiae nam aliquid eligendi provident vel error impedit. Delectus omnis ad vero repudiandae? Excepturi quos corporis odio sunt praesentium.
        Facere minima ad recusandae expedita provident optio pariatur quidem esse hic quam quia eaque iusto deserunt eveniet magni tempore facilis, illo voluptas placeat qui mollitia illum. Fugit incidunt ipsa voluptate.
        Eos nisi beatae numquam dignissimos autem asperiores aliquid aperiam vel distinctio, suscipit velit, quae quas eius libero. Facilis odio excepturi quaerat enim voluptas voluptatum labore iste neque reprehenderit temporibus! Dolorem?</p>
    </div>
</div>