.concerts{
    overflow-y: scroll;
    max-height: 80vh;
}


.card{
    border:none;
}

.card-header{
    background-color: rgb(32, 30, 30);
}

img{
    border: 2px solid purple;
}

.btn-success{
    background-color: purple;
}

a {
    color: orange;
}
