.concerts {
    overflow-y: scroll;
    max-height: 80vh;
}

.card {
    border: none;
    background-color: rgba(0, 0, 0, 0.603);
}

img {
    border: 2px solid purple;
}

.btn-success {
    background-color: purple;
}

a {
    color: orange;
}

.card-text,
.card-title {
    color: white;
}