<nav class="navbar navbar-expand-sm navbar-default justify-content-between mb-0">
    <a class="navbar-brand" routerLink="zoek"><img id="logo" src="../assets/data/logo.png"></a>

    <div>
        <a class="nav-item nav-link">
            <button class="btn btn-warning mr-3" routerLink="user" *ngIf="authService.isLoggedIn">
          My Profile
        </button>

            <button class="btn btn-warning" routerLink="login" *ngIf="authService.isLoggedIn == false">
          Login
        </button>
            <button class="btn btn-warning" routerLink="login" *ngIf="authService.isLoggedIn" (click)="authService.logout()">
          Logout
        </button>
        </a>
    </div>
</nav>

<!-- Router -->

<div id="router" class="bg mt-0">
    <div class="container-fluid">
        <router-outlet></router-outlet>
    </div>

</div>
<footer class="page-footer font-small">

    <div class="footer-copyright text-center py-3 ">© 2020 Copyright:
        <a routerLink="about">About</a>
    </div>

</footer>