  <!-- Boostrap navbar -->

  <nav class="navbar navbar-expand-sm navbar-default justify-content-between mb-0">
    <a class="navbar-brand">Event Finder</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-nav">
      <a routerLink="zoek" class="nav-item nav-link">Home</a>
      <a routerLink="about" class="nav-item nav-link">About</a>
      <a routerLink="artiest" class="nav-item nav-link">Artiest</a>
      <a routerLink="user" class="nav-item nav-link">User</a>
    </div>

    <div>
      <a class="nav-item nav-link">
        <button class="btn btn-warning" routerLink="login"
        *ngIf="authService.isLoggedIn == false">
          Login
        </button>
        <button class="btn btn-warning" routerLink="login" *ngIf="authService.isLoggedIn"
        (click)="authService.logout()">
          Logout
        </button>
      </a>
    </div>
  </nav>

  <!-- Router -->
  
  <div id="router" class="bg mt-0">
    <div class="container-fluid">
    <router-outlet></router-outlet>
  </div>
  </div>