  <!-- Boostrap navbar -->
  <nav class="navbar navbar-expand-sm navbar-static-top justify-content-between">
    <a class="navbar-brand" href="#">Event Finder</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse ">
      <div class="navbar-nav">
        <a routerLink="home" class="nav-item nav-link">Home</a>
        <a routerLink="contact" class="nav-item nav-link">Contact</a>
      </div>
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>

  <nav class="navbar navbar-light bg-light justify-content-between">
    <a class="navbar-brand">Event Finder</a>

    <div class="navbar-nav">
      <a routerLink="home" class="nav-item nav-link">Home</a>
      <a routerLink="contact" class="nav-item nav-link">Contact</a>
    </div>

    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>

    <div>
      <a routerLink="login" class="nav-item nav-link">Login</a>
    </div>
  </nav>

  <!-- Router -->
  <div id="router">
    <router-outlet></router-outlet>
  </div
  >