    h4 {
        font-family: 'Roboto Slab', serif;
    }
    
    .col-sm-4 {
        background-color: rgba(0, 0, 0, 0.651);
        height: 85vh;
        overflow: auto;
    }
    
    .col-sm-7 {
        background-color: rgba(0, 0, 0, 0.925);
        /* width: 100%; */
        height: 85vh;
        color: white;
        overflow: auto;
    }
    
    .fas,
    .fab {
        color: orange;
    }
    
    body {
        background-color: black;
    }
    
    .card {
        background-color: rgba(0, 0, 0, 0.603);
    }
    
    .btn-warning {
        background-color: purple;
        border-color: yellow;
        color: #FBFBFB;
        font-family: 'Open Sans', sans-serif;
    }
    
    .btn-danger {
        background-color: orange;
        border-color: yellow;
        font-family: 'Open Sans', sans-serif;
    }
    
    .card-text,
    .card-title {
        color: white;
    }