<div class="container-fluid">
    <div class="row text-white">
        <div class="col-sm-5 mt-3 ml-3">
            <div *ngFor="let fav of favorieten$ | async">
            <!-- <div *ngIf="fav.accountName == authService.user.email"> -->
                <!-- {{fav.accountName}}<br/> -->
                {{fav.artist}} <br/>
                <img class="rounded-circle" [src]="fav.image" width="12%" height="12%"> <br/>
                <button class="btn btn-success" (click)="removeFavieJSON(fav.id)">Remove artist from favorites</button>
            </div>
        </div>
        </div> 
        
        <div class="col-sm-6 mt-3 ml-3">
            <app-concert></app-concert>
        </div>
    </div>
<!-- </div> -->

