#SearchBar {
    height: 30px;
    width: 500px;

    margin: auto;
  width: 50%;
  padding: 10px;
  
}

#SearchBar:focus{
  color:#631D76;
}

#titel {
    /* margin-top: 100px; */
    padding-top: 10%;

    color: white;
}

.btn-warning{
  background-color: #631D76;
  color: #FBFBFB;
}

.display-4{
  font-weight: 600;
}

